<div class="container mt-5">
    <h3>Employees list</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.firstName}}</td>
                <td>{{employee.lastName}}</td>
                <td>{{employee.emailId}}</td>
                <td>
                    <button (click)="updateEmployee(employee.id)" type="button" class="btn btn-primary btn-sm">Update</button>
                     &nbsp;
                    <button (click)="deleteEmployee(employee.id)" type="button" class="btn btn-danger btn-sm">Delete</button>
                     &nbsp;
                     <button (click)="viewEmployee(employee.id)" type="button" class="btn btn-info btn-sm">View</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>